<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mvc</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>mvc</param-value>
  </context-param>
  <!-- UTF-8编码器  -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 配置文件装载器 -->
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/spring-*.xml
		</param-value>
  </context-param>
  <!-- springMVC支持PUT方式 -->
   <filter>
       <filter-name>HttpMethodFilter</filter-name>
       <filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
   </filter>
   <filter-mapping>
       <filter-name>HttpMethodFilter</filter-name>
       <servlet-name>mvc</servlet-name>
   </filter-mapping>
  <!-- springMVC核心配置 -->
  <servlet>
    <servlet-name>mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- log4j日志监控 -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <!-- Spring监听器 -->  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- Spring防止内存溢出监听器 -->    
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <!-- request监听器 -->
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <!-- iframe情况下,session跨域cookie丢失过滤器 -->
  <filter>
		<filter-name>transNameFilter</filter-name>
		<filter-class>com.rainsoft.core.filter.TransNameFilter</filter-class>
   </filter>
  <filter-mapping>
		<filter-name>transNameFilter</filter-name>
		<url-pattern>/*</url-pattern>
  </filter-mapping>
   <!-- shiro 安全过滤器 -->
   <!-- <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping> -->
  <!-- druid数据库监控 -->
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
   <!-- JavaMelody监控性能 -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
  <!-- session默认超时配置 -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <!-- 启动监听器 -->
  <listener>
    <listener-class>com.rainsoft.core.ServerListener</listener-class>
  </listener>
  <!-- xss过滤器 -->
   <filter>
		<filter-name>xssFilter</filter-name>
		<filter-class>com.rainsoft.core.filter.xss.XssFilter</filter-class>
   </filter>
   <filter-mapping>
		<filter-name>xssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <!-- 欢迎页面 -->
  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
  <!-- 错误页面 -->
  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/500</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/500</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/401</location>
  </error-page>
</web-app>